.navbar{
    padding: 1rem;
    width: 100%;
    height: 80px;
    background-color: rgb(2, 0, 125);
}
.verde{ /*contenido del área verde de la pagina.*/
    background-color: green;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid;
    border-color: gold;
    position: relative;
}
.contenido-verde{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.img-tel{ /*tamaño y ajuste de la imagen del telefono */
    padding-bottom: 3px;
    width: 2%;
}/*Fin del área verde*/
.navbar-brand{
    transition: 1s ease;
 	-moz-transition: 1s ease;
 	-webkit-transition: 1s ease;
    -o-transition: 1s ease;
}
.navbar-brand:hover{
    transform : scale(1.2);
	-moz-transform : scale(1.2);
	-webkit-transform : scale(1.2);
	-o-transform : scale(1.2);
}
.nav-item{
    transition: 1s ease;
 	-moz-transition: 1s ease;
 	-webkit-transition: 1s ease;
    -o-transition: 1s ease;
}
.navbar-toggler{
    background-color: #ffffff;
    border: solid;
}
.nav-item:hover{
    border-bottom: solid;
    color: #ffffff;
    transform : scale(1.5);
    text-shadow: rgb(255, 255, 255) 5px 5px 5px;

	-moz-transform : scale(1.5);
	-webkit-transform : scale(1.5);
	-o-transform : scale(1.5);
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
/*caja general de los seccion "solo dimension, fondo y datos generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeded;
}
/* Carousel */
.carrusel{
    width: 100%;
}
.carousel-images .carousel{
    max-width: 500px;
}
.carousel-item{
    object-fit: cover;
    height: 350px;
}
.d-block{
    width: 100%;
    height: 100%;
}
/* Seccion Principal */
.hero{
    min-height: 450px;
    text-align: center;
}
/* Seccion card*/
.row{/*Caja principal donde van las columnas*/
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}
.col{/*Columnas*/
    width: 25%;
}
.card-img-top{/*Imagenes de las tarjetas*/
    border: outset;
    width: 100%;
    height: 250px;
}
.card-body{/*Cajas de texto Titulo/Texto*/
    width: 100%;
    height: auto;/*Problema con el espacio del texto*/
    border: outset;
    font-family: Arial, Helvetica, sans-serif;
}
.titleH1{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    margin: 20px 0px 20px 0px;
}
.codeQr{/* Caja del contenido Imagen QR*/
    width: 90%;
    background: none;
    border: none;
}
.col-md-4{
    width: 15%;
}
.col-md-8{
    width: 75%;
    background: white;
}
/*baner y top*/
.baner{
    width: 100%;
    height: auto;
    padding: 0px 5px 5px 5px;
}
.baner img{
    border: solid;
    border-color: gold;
    width: 100%;
    height: 200px;
}
/* Footer */
.footer-texto{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.seccion-oscura{
    background-color: rgb(162, 161, 161);
    width: 100%;
    height: auto;
    overflow: hidden;
    border-top: solid;
    border-color: gold;
}
.seccion-oscura div{
    justify-content: space-between;
    display: block;
    width: 48%;
    height: 70px;
    padding: 0;
    margin: 0;
}
.derecha{
    text-align: right;
}

/*Media Queries*/
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}